<!-- <div id="header" style="margin:0px;">
  <div class="row-fluid">
    <div class="span8">
      <%= image_tag "logo.png", :class => "brand" %>
    </div>
    <div class="span4">
      <form class="navbar-form pull-left">
  <input type="text" class="search-query" placeholder="Search">
  <button type="submit" class="btn">Submit</button>
			</form>
    </div>
  </div>
</div> -->